<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Signup</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <div class="container">
    <h1>Sign Up</h1>

    <form action="/user" method="POST">
      <label>Full Name</label>
      <input type="text" name="name" required />

      <label>Email</label>
      <input type="email" name="email" required />

      <label>Password</label>
      <input type="password" name="password" required />

      <button type="submit">Sign Up</button>
    </form>
  </div>

</body>
</html>
